@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fff;
  max-width: 1440px;
}

/*Section*/
.intro-card {
  text-align: center;
  margin-top: 4rem;
}

.intro-pg {
  font-size: 2.4rem;
  font-weight: 200;
  color: hsl(212, 6%, 44%);
}

.title {
  font-size: 2.4rem;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

.description-pg {
  margin: 0 425px 0 425px;
  font-weight: 400;
  font-size: 1rem;
  color: hsl(212, 6%, 44%);
}

/*Main*/
main {
  margin-top: 4rem;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 10rem;
  display: flex;
  justify-content: space-between;
}

/*Main: supervisor*/
.supervisor-div {
  height: 240px;
  width: 360px; /*observação*/
  border-top: 4px solid hsl(180, 62%, 55%);
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-top: 140px;
}

.supervisor-div h2 {
  padding: 25px 15px 0 25px;
  font-size: 23px;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

.supervisor-div p {
  padding: 0 45px 0 25px;
  font-size: 14px;
  font-weight: 400;
  color: hsl(212, 6%, 44%);
}

.supervisor-div img {
  transform: translate(260px, 30px);
}

/*Main: calculator*/
.calculator-div {
  height: 240px;
  width: 360px;
  border-top: 4px solid hsl(212, 86%, 64%);
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-top: 140px;
}

.calculator-div h2 {
  padding: 25px 15px 0 25px;
  font-size: 23px;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

.calculator-div p {
  padding: 0 45px 0 25px;
  font-size: 14px;
  font-weight: 400;
  color: hsl(212, 6%, 44%);
}

.calculator-div img {
  transform: translate(260px, 30px);
}

/*Double card div*/
.double-card-div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.TeamBuilder-div {
  height: 240px;
  width: 360px;
  border-top: 4px solid hsl(0, 78%, 62%);
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.TeamBuilder-div h2 {
  padding: 20px 5px 0 25px;
  font-size: 23px;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

.TeamBuilder-div p {
  padding: 0 45px 0 25px;
  font-size: 14px;
  font-weight: 400;
  color: hsl(212, 6%, 44%);
}

.TeamBuilder-div img {
  transform: translate(260px, 30px);
}

.Karma-div {
  height: 240px;
  width: 360px;
  border-top: 4px solid hsl(34, 97%, 64%);
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.Karma-div h2 {
  padding: 20px 5px 0 25px;
  font-size: 23px;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

.Karma-div p {
  padding: 0 45px 0 25px;
  font-size: 14px;
  font-weight: 400;
  color: hsl(212, 6%, 44%);
}

.Karma-div img {
  transform: translate(260px, 30px);
}

@media (max-width: 376px) {
  /*Section*/
  section {
    width: 1000px;
    height: 300px;
    text-align: center;
  }
  .intro-pg,
  .title {
    font-size: 4.5rem;
    line-height: 90px;
  }
  .description-pg {
    width: 980px;
    font-size: 2.7rem;
    padding: 0 40px 0 40px;
    margin: 0 10px 0 10px;
    margin-top: 30px;
  }
  /*Main cards*/
  main {
    width: 1000px;
    display: grid;
    gap: 60px;
    margin: 12rem 0 6rem 0;
  }
  /*Card 1*/
  .supervisor-div {
    width: 880px;
    margin: 0 60px 0 60px;
    height: 650px;
    border-top: 12px solid hsl(180, 62%, 55%);
    border-radius: 12px;
  }
  .supervisor-div h2 {
    font-size: 3.8rem;
    margin: 20px 0 0 50px;
  }
  .supervisor-div p {
    font-size: 2.4rem;
    margin: 0 95px 20px 50px;
  }
  .supervisor-div img {
    width: 200px;
    height: 200px;
    transform: translate(600px, 70px);
  }
  /*Card 2*/
  .calculator-div {
    width: 880px;
    margin: 0 60px 0 60px;
    height: 600px;
    border-top: 12px solid hsl(212, 86%, 64%);
    border-radius: 12px;
  }
  .calculator-div {
    width: 880px;
    margin: 0 60px 0 60px;
    height: 650px;
  }
  .calculator-div h2 {
    font-size: 3.8rem;
    margin: 20px 0 0 50px;
  }
  .calculator-div p {
    font-size: 2.4rem;
    margin: 0 95px 20px 50px;
  }
  .calculator-div img {
    width: 200px;
    height: 200px;
    transform: translate(600px, 70px);
  }
  /*Mid cards*/
  .double-card-div {
    gap: 60px;
  }
  /*Card 3*/
  .TeamBuilder-div {
    width: 880px;
    margin: 0 60px 0 60px;
    height: 600px;
    border-top: 12px solid hsl(0, 78%, 62%);
    border-radius: 12px;
  }
  .TeamBuilder-div {
    width: 880px;
    margin: 0 60px 0 60px;
    height: 650px;
  }
  .TeamBuilder-div h2 {
    font-size: 3.8rem;
    margin: 20px 0 0 50px;
  }
  .TeamBuilder-div p {
    font-size: 2.4rem;
    margin: 0 95px 20px 50px;
  }
  .TeamBuilder-div img {
    width: 200px;
    height: 200px;
    transform: translate(600px, 70px);
  }
  /*Card 4*/
  .Karma-div {
    width: 880px;
    margin: 0 60px 0 60px;
    height: 600px;
    border-top: 12px solid hsl(34, 97%, 64%);
    border-radius: 12px;
  }
  .Karma-div {
    width: 880px;
    margin: 0 60px 0 60px;
    height: 650px;
  }
  .Karma-div h2 {
    font-size: 3.8rem;
    margin: 20px 0 0 50px;
  }
  .Karma-div p {
    font-size: 2.4rem;
    margin: 0 95px 20px 50px;
  }
  .Karma-div img {
    width: 200px;
    height: 200px;
    transform: translate(600px, 70px);
  }
}
