@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fff;
}

/*Section*/
.intro-card {
  text-align: center;
  margin-top: 4rem;
}

.intro-pg {
  font-size: 2rem;
  font-weight: 200;
  color: hsl(212, 6%, 44%);
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

.description-pg {
  margin: 0 480px 0 480px; /*observação*/
  font-weight: 400;
  font-size: 0.9rem;
  color: hsl(212, 6%, 44%);
}

/*Main*/
main {
  border: 1px solid;
  margin: 4rem 8rem 10rem 8rem; /*observação*/
  display: flex;
  justify-content: space-between;
}

/*Main: supervisor*/
.supervisor-div {
  height: 250px;
  width: 400px; /*observação*/
  border-top: 4px solid hsl(180, 62%, 55%);
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.supervisor-div h2 {
  padding: 20px 5px 0 25px; /*observação*/
  font-size: 23px;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

.supervisor-div p {
  padding: 0 5px 0 25px; /*observação*/
  font-size: 15px;
  font-weight: 400;
  color: hsl(212, 6%, 44%);
}

.supervisor-div img {
  transform: translate(270px, 40px); /*observação*/
}

/*Main: calculator*/
.calculator-div {
  height: 250px;
  width: 400px;
  border-top: 4px solid hsl(212, 86%, 64%);
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.calculator-div h2 {
  padding: 20px 5px 0 25px; /*observação*/
  font-size: 23px;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

.calculator-div p {
  padding: 0 5px 0 25px; /*observação*/
  font-size: 15px;
  font-weight: 400;
  color: hsl(212, 6%, 44%);
}

.calculator-div img {
  transform: translate(270px, 40px); /*observação*/
}
